<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Visitor Check-In</title>
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='ESRW_Logo.png') }}" alt="Company Logo">
        <h1>Visitor Check-In</h1>
        <form action="/submit" method="post">
            <label for="name">Name:</label><input type="text" id="name" name="name" value="{{ name }}" required><br><br>
            <label for="address">Address:</label><input type="text" id="address" name="address" value="{{ address }}" required><br><br>
            <label for="zipcode">Zip Code:</label
